label {
    display: block;
  }
  input {
    display: block;
    width: 70%;
    margin: 2% 0;
    outline: none;
    border: 1px solid rgb(226, 232, 236);
    border-radius: 5px;
    padding: 10px;
  }
  
  label[for="agree"] {
    display: inline;
    color: darkslategray;
    font: {
      weight: 700;
      size: 15px;
    }
  }
  .error__msg {
    color: red;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
  }